# .dockerignore
.vscode
node_modules
.env
.env.example
.git
prisma/sqlite/db.sqlite
prisma/sqlite/db.sqlite-journal
.gitattributes
.eslintignore
.eslintrc.cjs
.prettierrc
.prettierignore
README.md
Dockerfile
