DATABASE_URL=file:./db.sqlite
DATABASE_PROVIDER=sqlite # postgres | mysql
LOG_LEVEL="debug"
ORIGIN=http://example.org
PORT=3000
ADMIN_USERNAME=admin
ADMIN_EMAIL=info@example.org
ADMIN_PASSWORD=password
TOKEN_SECRET=secret
ENABLE_SIGNUP=false
ENABLED_MFA=false
PUBLIC_URL=http://example.org
APPNAME="Snapp"
PUBLIC_SNAPP_VERSION="0.9-rc-006"